* {
  box-sizing: border-box;
}

body {
  margin : 0;
  padding : 0;
}

h1 {
  font-family: Arial;
  text-align: center;
  margin-bottom: 40px
}

p{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section {
  background-color: #C2DDED;
}

.row {
  width : 100%;
}

.food-title {
  font-size: 110%;
  text-align: center;
  width: 30%;
  margin-right: 0%;
  margin-top: 0%;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

#beef {
  background-color: #FE6161;
}

#chicken {
  background-color: pink;
}

#sushi {
  background-color: yellow;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 2px solid;
  }
  .col-lg-3 {
    width : 32%;
    margin-left: 1%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 2px solid;
  }
  .col-md-6 {
    width : 48%;
    margin-left: 1.333333333%;
    margin-bottom: 1.5%;
  }
  .col-md-12 {
    width: 97.444444444%;
    margin-left: 1.333333333%;
    margin-right: 1.333333333%;
  }
}


/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 2px solid;
    margin-bottom: 2.5%;
  }
  .col-sm-12 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
